#sidebar-buttons {
	display: none; z-index: 999999; opacity: 0; left: -50px; margin-top: 4px;position: absolute;padding: 5px; min-width: 200px;height: auto; color: rgb(51, 51, 51); border-radius: 4px; display: inline-block; background-color: rgb(255, 255, 255);border: 1px solid #CCC;
}
#sidebar-buttons ul.leaflet-sidebar li a{
	cursor:pointer;
	text-decoration: none;
	display: inline;
	outline:none;
	color:#000;
}
#sidebar-buttons ul.leaflet-sidebar{
	list-style: none;
}
#sidebar-buttons ul.leaflet-sidebar li input[type=checkbox]{
	outline:none;
}
#sidebar-buttons ul.leaflet-sidebar li{
	display: inline;
}
.clear{
	clear:both;
}

.mf-modal-open .mf-modal {
overflow-x: hidden;
overflow-y: auto;
}
.mf-fade.mf-in {
opacity: 1;
}
.mf-modal {
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 1040;
display: none;
overflow: hidden;
-webkit-overflow-scrolling: touch;
outline: 0;
}
.mf-fade {
opacity: 0;
-webkit-transition: opacity .15s linear;
-o-transition: opacity .15s linear;
transition: opacity .15s linear;
}
.mf-modaldialog * {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.mf-modal-backdrop.mf-in {
filter: alpha(opacity=50) !important;
opacity: .5 !important;
}
.mf-modal-backdrop.mf-fade {
filter: alpha(opacity=0);
opacity: 0;
}
.mf-modal-backdrop {
position: absolute;
top: 0;
right: 0;
left: 0;
background-color: #000;
}
.mf-modal.mf-in .mf-modal-dialog {
-webkit-transform: translate(0,0);
-ms-transform: translate(0,0);
-o-transform: translate(0,0);
transform: translate(0,0);
}
.mf-modal.mf-fade .mf-modal-dialog {
-webkit-transition: -webkit-transform .3s ease-out;
-o-transition: -o-transform .3s ease-out;
transition: transform .3s ease-out;
-webkit-transform: translate(0,-25%);
-ms-transform: translate(0,-25%);
-o-transform: translate(0,-25%);
transform: translate(0,-25%);
}
@media (min-width: 768px)
.mf-modal-dialog {
width: 600px;
margin: 30px auto;
}
.mf-modal-dialog {
position: relative;
width: auto;
margin: 10px;
}
@media (min-width: 768px)
.mf-modal-content {
-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.mf-modal-content {
position: relative;
background-color: #FFF;
-webkit-background-clip: padding-box;
background-clip: padding-box;
border: 1px solid #999;
border: 1px solid rgba(0, 0, 0, 0.2);
border-radius: 6px;
outline: 0;
-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}
.mf-modal-header {
min-height: 16.43px;
padding: 15px;
border-bottom: 1px solid #E5E5E5;
}
.mf-modal-title {
margin: 0;
line-height: 1.42857143;
}
.mf-h4 {
font-size: 18px;
}
.mf-h4 {
font-family: inherit;
font-weight: 500;
color: inherit;
}
.mf-modal-body {
position: relative;
padding: 15px;
}
.mf-modal-footer {
padding: 15px;
text-align: right;
border-top: 1px solid #E5E5E5;
}
.mf-btn-default {
color: #333;
background-color: #FFF;
border-color: #CCC;
}
.mf-btn {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: 400;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 1px solid rgba(0, 0, 0, 0);
border-radius: 4px;
}
button.mf-button {
font-family: inherit;
font-size: inherit;
line-height: inherit;
}
button.mf-button {
-webkit-appearance: button;
cursor: pointer;
}
button.mf-button {
text-transform: none;
}
button.mf-button {
overflow: visible;
}
button.mf-button {
margin: 0;
font: inherit;
color: inherit;
}
.mf-btn-default:active, .mf-btn-default:focus, .mf-btn-default:hover {
color: #333;
background-color: #E6E6E6;
border-color: #ADADAD;
}
.mf-btn:focus, .mf-btn:hover {
color: #333;
text-decoration: none;
}